@model Assignment_2.Models.Trainer

<style>
    .logo {
        position: relative;
        margin-left: 900px;
    }
</style>
<img class="logo" src="~/Media/peoplecertLogo.png" />


<table class="table" style="color:aqua">
    <thead>
        <tr>
            <th>
                <h1 style="text-align:center">Coding Bootcamp</h1>
            </th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>
                <h2 style="text-align:center"> Assignment 2</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h2> </h2>
            </td>
        </tr>

    </tbody>
</table>

<p>You are required to produce a solution that implements a CRUD using MVC</p>
<p>methologies for the entity Trainers</p>
<h2>Tasks</h2>
@Html.ActionLink("Create Trainer [20 marks]", "Create", "Trainer")
<br />
<br />
@Html.ActionLink("Read Trainer details [20 marks]", "Index", "Trainer")
<br />
<br />
@Html.ActionLink("Update Trainer details [20 marks]", "Index", "Trainer")
<br />
<br />
@Html.ActionLink("Delete Trainer [20 marks]", "Index", "Trainer")
<br />
<br />
@Html.ActionLink("Use of MVC technologies [20 marks]", "Index", "Trainer")




